<!DOCTYPE html>
<html lang="en">
<head>
    {{>navlinks}}
    <title>Weather App | Feedback</title>
</head>
<body>
    <div class="container container-fluid">
        {{>navbar}}
        <hr style="margin: 0;">
        <div class="main">
            <h1>This is feedback page</h1>
        </div>
    </div>
</body>
</html>